//variables
$color-white: #fff;
$color-lightgrey: #2d3436;
$color-grey: #ccc;
$color-midnight: #2c3e50;
$color-belize: #2980b9;
$fonts: 'Open Sans', sans-serif;
$color-purple: #30336b;

//extends
.fonts {
	display: flex;
	justify-content: center;
	text-align: justify;
	line-height: 23px;
}

.box-shadow {
	box-shadow: 2px 2px 30px #444;
}


body {
  margin: 0 auto;
  margin: 0 auto;
  font-family: $fonts;
  background-color: $color-grey;
}

.container {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
	background-color: $color-belize;
	padding: 25px 170px;
	margin-bottom: 100px;
	@extend .box-shadow;
	p {
		@extend .fonts;
		color: $color-purple;
		font-weight: 600;
	}
}
.small-container {
	 background-color: $color-midnight;
	 @extend .box-shadow;
	 h1 {
	 	@extend .fonts; 
		font-size: 48px;
		font-weight: bold;
		margin-top: 100px;
		padding-top: 50px;
		color: $color-white;
		text-shadow: 2px 2px 7px #000;
	}

	h2 {
		@extend .fonts;
		font-size: 32px;
		color: $color-grey;
		text-shadow: 2px 2px 5px #000;
	}

	h3 {
		@extend .fonts;
		padding-bottom: 25px;
		text-shadow: 1px 1px 2px #000;
	}
}


	


